<!-- Content Header (Page header) -->
<section class="content-header no-margin">
    <h1>
        <i class="fa fa-angle-right"></i>
        Mensajes
        <small>Modulo</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- MAILBOX BEGIN -->
    <div class="mailbox row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <!-- Custom Tabs -->
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-target="#tab_1" data-toggle="tab" href="">Seguimiento</a></li>
                                    <li ><a data-target="#tab_2" data-toggle="tab" data-toggle="tab" href="">Cruse de Inf.</a></li>
                                    <li ><a data-target="#tab_3" data-toggle="tab" href="">Base Negativa</a></li>
                                    <li class="pull-right"><a class="text-muted"><i class="fa fa-gear"></i></a></li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">

                                        <div class="box-header margin" style="margin-bottom: 0px;">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary btn-sm" data-target="#compose-modal" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Agregar</button>
                                            </div>
                                            <!--
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary" data-target="#compose-modal" data-toggle="modal"><i class="fa fa-pencil"></i> Editar</button>
                                            </div>

                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary" data-target="#compose-modal" data-toggle="modal"><i class="fa fa-pencil"></i> Seguir</button>
                                            </div> -->
                                        </div>

                                        <div class="box-body table-responsive">
                                            <table id="tableMensajes" class="table table-hover dataTable">
                                                <thead>
                                                <tr>
                                                    <th>Cod. Cliente</th>
                                                    <th>Tipo Doc.</th>
                                                    <th>Nro. Doc.</th>
                                                    <th>Nombres</th>
                                                    <th>Fecha Ingreso</th>
                                                    <th>Acciones</th>
                                                </tr>
                                                </thead>

                                                <tfoot>
                                                <tr>
                                                    <th>Cod. Cliente</th>
                                                    <th>Tipo Doc.</th>
                                                    <th>Nro. Doc.</th>
                                                    <th>Nombres</th>
                                                    <th>Fecha Ingreso</th>
                                                    <th>Acciones</th>
                                                </tr>
                                                </tfoot>

                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab_2">
                                        The European languages are members of the same family. Their separate existence is a myth.
                                        For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                                        in their grammar, their pronunciation and their most common words. Everyone realizes why a
                                        new common language would be desirable: one could refuse to pay expensive translators. To
                                        achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                                        words. If several languages coalesce, the grammar of the resulting language is more simple
                                        and regular than that of the individual languages.
                                    </div><!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab_3">
                                        The European languages are members of the same family. Their separate existence is a myth.
                                        For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                                        in their grammar, their pronunciation and their most common words. Everyone realizes why a
                                        new common language would be desirable: one could refuse to pay expensive translators. To
                                        achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                                        words. If several languages coalesce, the grammar of the resulting language is more simple
                                        and regular than that of the individual languages.
                                    </div><!-- /.tab-pane -->
                                </div><!-- /.tab-content -->
                            </div><!-- nav-tabs-custom -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col (MAIN) -->
    </div>
    <!-- MAILBOX END -->
</section><!-- /.content -->

<div class="modal fade in" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><i class="fa fa-th-large"></i><b> {{modelMensaje.titulo}}</b></h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Para:</span>
                            <input name="deValue" type="hidden" ng-model="modelMensaje.deValue">
                            <input name="paraValue" type="email" class="form-control" placeholder="Email para" ng-model="modelMensaje.paraValue">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CC:</span>
                            <input name="copiaValue" type="email" class="form-control" placeholder="Email CC" ng-model="modelMensaje.copiaValue">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Asunto:</span>
                            <input name="asuntoValue" type="text" class="form-control" placeholder="Asunto" ng-model="modelMensaje.asuntoValue">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="mensaje" id="mensaje" class="form-control" placeholder="Mensaje" style="height: 120px;" ng-model="modelMensaje.mensaje"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-success btn-file">
                            <i class="fa fa-paperclip"></i> Attachment
                            <input type="file" name="attachment">
                        </div>
                        <p class="help-block">Max. 32MB</p>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="submit" class="btn btn-primary" ng-click="enviarMensaje()"><i class="fa fa-envelope"></i> Enviar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script type="text/javascript">
    $(document).ready(function() {
        // DataTable
        var table = $('#tableMensajes').dataTable({
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "http://localhost:40070/CRInterna/public/Clientes/ObtenerTodos",
            "oLanguage": {
                "sUrl": "http://localhost:40070/CRInterna/public/theme/AdminLTE/js/plugins/datatables/spanish.txt"
            },
            "bAutoWidth": false,
            "aoColumns": [
                { "bSortable": true, "sWidth": "10%" },
                { "bSortable": true, "sWidth": "10%" },
                { "bSortable": true, "sWidth": "10%" },
                { "bSortable": true, "sWidth": "60%" },
                { "bSortable": true, "sWidth": "10%" },
                { "bSortable": false, "sClass": "center", "sWidth": "40px" }
            ],
            "order": [ 0, 1, 2, 3, 4 ]
        }).columnFilter({
            aoColumns: [{ type:  "text"},
                        { type:  "text"},
                        { type:  "text"},
                        { type:  "text"},
                        { type:  "text"},
                        null]
        });

        //new FixedHeader(table, { "bottom": true });
    });
</script>