<style type="text/css">

</style>
<div class="row" style="margin:0px 50px; padding: 10px; width: 630px; border: 1px solid #000100;">
    <h4 class="text-center"><u><b>PRIMERA NOTIFICACION</b></u></h4>
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <p class="text-right"> .............,... de ............. del 201...</p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-2 text-right">
                <label>Señor (a):</label>
            </div>
            <div class="col-sm-10">
                <label>......................................................................................................................</label>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-2 text-right">
                <label>Dirección :</label>
            </div>
            <div class="col-sm-10">
                <label>......................................................................................................................</label>
            </div>
        </div>

        <form class="form-horizontal" role="form">
            <div class="form-group" style="margin-bottom: 0px;">
                <label class="col-sm-2 control-label">Dirección :</label>
                <div class="col-sm-10">
                    <label>................................................................................................................</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <label class="col-sm-2 control-label">Fiador Solidario (Aval) :</label>
                <div class="col-sm-10">
                    <label>................................................................................................................</label>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <label class="col-sm-2 control-label">Presente.-</label>
                <div class="col-sm-10">

                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <label class="col-sm-2 control-label">Asunto.-</label>
                <div class="col-sm-10">

                </div>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
                <label class="col-sm-2 control-label">ASUNTO :</label>
                <div class="col-sm-10">
                    <label>COMUNICACION DE CREDITO EN MORA</label>
                </div>
            </div>
        </form>
    </div>
</div>

<seccion>
</seccion>

<!-- <script>
    var doc = new jsPDF('landscape');
    doc.setFontSize(40);

    doc.text(20, 20, 'Primera Notifdicacion');

    doc.save('Test.pdf');
</script> -->