.btn-recorrer{
    width: 50px;
    height: 34px;
}

.select2-results{
    color: rgb(60, 118, 61);
}

.tbl-resultado{
    color: #0D3349;
    font-size: larger;
}

.pnl-heading-custom{
    padding: 4px 15px;
}

.frm-control-custom{
    display: inline;
    width: 50%;
    height: 25px;
    padding: 0px 12px;
}

.frm-group-custom{
    margin-bottom: 2px;
}

.lbl-custom{
    color: black;
    width: 25%;
}

.pnl-custom{
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%)
}

.lbl-frm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    margin: 0;
}

td.details-control {
    background: url('../img/plus.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/minus.png') no-repeat center center;
}

#loading-screen {
    background-color: rgba(25,25,25,0.7);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0;
    top: 0;
    text-align: center;
  }
  #loading-screen img {
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: -50px;
    margin-left: -50px;
    top: 50%;
  }